/***
=== General ===
***/

body {
    background-color: #fff !important;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
}

.section-title {
    text-align: center;
    color: #1F2430;
}

@media only screen and (max-width: 768px) {
    .section-title {
        text-align: left;
    }
}


/* Buttons */

.btn-border {
    border: 0.5px solid #1F2430 !important;
    border-radius: 30px !important;
    font-size: 13px !Important;
    margin: 8px 8px 0 0;
    color: #1F2430;
    background: transparent;
}

a.btn-border {
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: center;
    transition: all 0.45s ease 0s;
}

.btn-border:hover {
    background-color: #1F2430 !important;
    color: #fff !important;
}

.btn-blue {
    background-color: #FFD246;
    border: none !important;
    color: white;
}

.btn-blue:hover {
    background-color: #000 !important;
    color: white;
    border: none;
}


/* Navigation bar */

.navbar {
    padding: 8px 8% !important;
    background-color: transparent !important;
}

.navbar-logo {
    width: 52px !important;
    margin-right: 16px;
}

.navbar-dark a.nav-link {
    color: #000 !important;
}

.navbar-dark a.navbar-brand {
    color: #000 !important;
}

.nav-item {
    padding: 10px 12.5px;
    font-size: 16px;
    text-align: center !important;
    letter-spacing: .07em;
    font-family: 'Open Sans', sans-serif;
}

a.nav-link {
    padding: 4px;
    color: #fff !important;
    text-decoration: none;
}

a.nav-link.active {
    opacity: 1;
    color: #FFD246 !important;
}

a.nav-text {
    line-height: 36px;
}

a.nav-link:hover {
    color: #FFD246 !important;
}

a.navbar-brand {
    font-size: 26px;
    padding-top: 8px;
    padding-right: 8px;
    color: white !important;
    font-family: 'Varela Round', sans-serif;
}

.navbar-brand img {
    width: 300px;
}

.btn-navbar {
    font-size: 16px;
    border-radius: 6px;
    margin: 0;
    letter-spacing: .07em;
    color: #fff !important;
    background: #FFD246;
    opacity: 1 !important;
    font-family: 'Open Sans', sans-serif;
}

a.btn-navbar {
    padding: 10px 20px !important;
    opacity: 1 !important;
    color: #000 !important;
}

.btn-navbar:hover {
    background-color: #fff !important;
    color: #FFD246 !important;
}

@media only screen and (max-width: 995px) {
    .navbar-brand img {
        width: 225px;
    }
    .navbar {
        padding: 16px 16px !important;
    }
    a.nav-link {
        text-align: left;
    }
    a.nav-link:hover {
        border-bottom: none;
    }
    a.nav-link.active {
        border-bottom: none
    }
}

@media only screen and (max-width: 765px) {
    a.btn-navbar {
        width: auto;
        text-align: center;
        margin-top: 16px;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
}

@media only screen and (max-width: 325px) {
    .navbar-brand img {
        width: 175px;
    }
}


/* Hero Section */

.hero-container {
    width: 100%;
    height: 100%;
    background-color: black;
}

.hero-content {
    margin: 0 auto;
    padding: 0vh 10% 0 10%;
    text-align: center;
    max-width: 1000px;
}

.hero-content h1 {
    font-size: 64px;
    padding-bottom: 22px;
    font-weight: 400;
    color: white !important;
    font-family: 'Varela Round', sans-serif;
}

.hero-content p {
    color: #ccc !important;
}

@media only screen and (max-width: 768px) {
    .hero-content {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .hero-content {
        padding: 250px 20px 75px 20px;
    }
    .hero-content h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 325px) {
    .hero-content {
        padding: 105px 20px 75px 20px;
    }
}


/* card section */

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    margin-top: 25px;
    border-radius: 0 !important;
    border: none !important;
    text-decoration: none !Important;
    background: #fff !important;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
}

.faq-card:hover {
    box-shadow: none !important;
    transform: scale(1);
}


/* Banner / call to action */

.banner-content {
    text-align: center;
    max-width: 650px;
    margin: 100px auto 120px auto;
}


/***
=== Index / Home ===
***/


/***
=== About ===
***/

.grid-content {
    margin: 75px auto 125px auto;
    padding: 0px 12% 0px 12%;
}

#grid-content-home-page {
    background-color: #F4F4F4;
    margin: 0px auto 0px auto;
    padding: 125px 12% 55px 12%;
}

#home-image {
    background-image: url("../img/austin-distel-wD1LRb9OeEo-unsplash.jpg");
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#test-image {
    background-image: url("../img/group.png");
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.how-it-works-title {
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Varela Round', sans-serif !Important;
}

.row.grid-row {
    padding-left: 0 !important;
}

.grid-content h1 {
    font-size: 36px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    margin-bottom: 18px;
}

.grid-row {}

.text-column {
    padding-top: 100px;
    padding-bottom: 15px;
    padding-right: 100px !Important;
    padding-left: 0 !important;
}

.image-column {
    padding-right: 0 !important;
}

.text-column h1 {
    color: #1F2430;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
}

.text-column p {
    margin-bottom: 16px;
    font-size: 18px !Important;
}

.image-left-column {
    padding-right: 0px !Important;
    padding-left: 0px !important;
    height: 550px !important;
}

.image-left-column-how-it-works {
    padding-right: 100px !Important;
}

.how-it-works-row {
    padding-top: 50px;
    padding-bottom: 50px;
}

.how-it-works-column-text h1 {
    padding-top: 40px;
    font-size: 27px !important;
}

.image-column img {}

.text-right-column {
    text-align: left !important;
}

@media only screen and (max-width: 768px) {
    .text-column {
        padding-top: 0;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .image-column {
        padding-top: 16px;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .grid-row {
        margin-top: 0px;
        padding: 0px;
    }
    .grid-content h1 {
        font-size: 28px;
    }
    .grid-content {
        margin: 0 auto;
        padding: 15px 15px 20px 15px !important;
    }
}


/***
=== Newsroom ===
***/


/***
=== Media kit ===
***/


/***
=== FaQ ===
***/

.faq-container {
    background-color: #F5F7FA;
}

.faq-content {
    margin: 0 auto;
    padding: 100px 15px 175px 15px;
    max-width: 850px;
}

.faq-content h1 {
    font-family: 'Varela Round', sans-serif;
}

.faq-content p {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 8px;
    color: #333;
}

.accordion {
    margin-top: 10px;
}

.card-header {
    background-color: white !important;
    border-bottom: none !important;
}

.card-header a {
    line-height: 40px;
    cursor: default;
    font-size: 22px;
    font-family: 'Varela Round', sans-serif;
    color: #1F2430 !important;
    text-align: left;
    font-weight: 300;
}

.card-header a:hover {
    text-decoration: none !important;
}

.card-header .article {
    float: right;
    color: #1F2430;
    text-align: center !important;
}

.card-header button:hover {
    color: #fff !important;
}

.card-body {
    padding: 20px 50px 10px 20px;
}

@media only screen and (max-width: 768px) {
    .faq-content {
        text-align: left;
        padding: 75px 15px;
    }
}


/***
=== Careers ===
***/


/* What we do Section */

.what-we-do-container {
    background-color: #fff
}

.what-we-do-content {
    padding: 100px 5% 50px 5%;
    text-align: center;
}

.what-we-do-holder p {
    color: #333 !important;
}

.what-we-do-content h1 {
    font-size: 46px;
    margin: 0 auto;
    font-family: 'Varela Round', sans-serif;
}

.what-we-do-content .text {
    max-width: 700px;
    font-size: 18px;
    margin: 16px auto;
}

.what-we-do-row {
    margin-bottom: 90px;
    margin-top: 100px;
}

.what-we-do-row h2 {
    font-size: 24px;
    margin-top: 16px;
    font-family: 'Varela Round', sans-serif;
}

.what-we-do-row p {
    font-size: 18px;
}

.what-we-do-row img {
    margin: 0 auto 16px auto;
    max-width: 60%;
}

@media only screen and (max-width: 768px) {
    .what-we-do-content {
        text-align: center;
    }
    .what-we-do-content h1 {
        font-size: 32px;
    }
    .what-we-do-row {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .what-we-do-holder {
        padding-bottom: 30px;
    }
    .what-we-do-holder:last-child {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .what-we-do-content {
        padding: 75px 20px 75px 20px;
    }
}

.pros-holder {
    margin-bottom: 25px;
}

.pros-holder h2 {
    margin-top: 8px;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
}

.centered-container {
    background-color: #FFF8E2;
}

.centered-content {
    margin: 0 auto;
    padding-top: 25vh;
    max-width: 900px;
    text-align: center;
}

.centered-content h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 42px;
    max-width: 750px;
    margin: 0 auto;
}

.centered-content p {
    max-width: 750px;
    margin: 8px auto;
}

.banner-content {
    margin: 0 auto;
    padding: 100px 25px 150px 25px;
    max-width: 800px;
    text-align: center;
}

.banner-content h1 {
    font-family: 'Varela Round', sans-serif;
}

.screenshot {
    margin: 0 auto !important;
    max-width: 1100px !important;
}

header {
    background: #082333;
    height: 95vh !important;
    min-height: 25rem !important;
}

header .container {
    z-index: 2 !important;
}

header {
    margin: 0 auto;
    margin-top: -85px;
    padding: 38vh 10% 0 10%;
}

header .container h1 {
    font-size: 42px;
    max-width: 750px;
    margin: 0 auto;
}


/*
@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}*/


/* Footer section */

.footer-container {
    padding: 75px 8%;
    background-color: #fff !important;
}

#myFooter ul {
    list-style-type: none !important;
    padding-left: 0;
    line-height: 1.6;
}

.footer-logo {
    width: 76px !important;
    margin-right: 16px;
}

#myFooter h5 {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 10px;
    color: #33323d !important;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.logo-column {
    padding-top: 5px;
    padding-bottom: 16px;
}

#myFooter a {
    text-decoration: none !important;
    color: #33323d !important;
    line-height: 1.5;
    font-size: 16px;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none !important;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    #myFooter {}
    .footer-container {
        padding: 75px 10% 32px 10%;
    }
}

section.pricing {
    background: #082333;
}

.pricing-container {
    max-width: 900px !important;
    margin: 0 auto;
    padding-bottom: 100px;
}

.pricing-container h1 {
    text-align: center;
    color: #fff;
    margin-top: 36px;
    font-size: 46px;
}

.pricing-container p {
    color: white;
    text-align: center;
    margin: 0 auto 45px auto;
    max-width: 650px;
    font-size: 18px;
    line-height: 28px;
}

.pricing .card {
    border: none;
    border-radius: 7px !important;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing-card:hover {
    box-shadow: none;
    transform: none;
}

.pricing .card-title {
    margin: 16px 0 32px 16px;
    font-size: 28px;
    font-weight: bold;
    color: #082333;
    text-align: center;
}

.pricing ul li {
    margin-bottom: 1rem;
    color: #082333;
    font-size: 18px;
}

.btn-container-pricing {
    margin-top: 26px;
    margin-bottom: 8px;
    text-align: center;
}


/* card section */

.jobs-container {
    background-color: #F7F8F9;
}

.jobs-container-content {
    padding: 15vh 8% 15vh 8%;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    margin-top: 25px;
    border-radius: 0 !important;
    border: none !important;
    text-decoration: none !Important;
    background: #fff !important;
}

.card-img-top {
    display: block;
    border-radius: 0 !important;
    width: 20% !important;
    margin-bottom: 16px;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 20px;
    border: none !important;
}

.card-title {
    font-size: 22px;
    color: #000;
    font-weight: 300;
}

.press-card-title {
    margin-bottom: 8px !important;
    font-size: 26px;
    margin-top: 0 !Important;
}

.experience {
    color: #ddd;
    padding-top: 16px;
}

.source {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 8px;
    color: #333;
    opacity: 0.4;
}

a.btn-border.article {
    border-radius: 100% !Important;
    width: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    padding: 0 !important;
}

a.btn-border.article:hover {
    background-color: #FFD246 !important;
    border-color: #FFD246 !important;
    color: black !important;
}

@media only screen and (max-width: 768px) {
    .card-container-content {
        padding: 50px 15px 100px 15px;
    }
    .card-container-content h1 {
        font-size: 28px;
        padding-bottom: 0px;
        margin-bottom: 0;
    }
    .press-row {}
}

.company-content {
    margin: 0 auto;
    padding-top: 25vh;
    max-width: 900px;
    text-align: center;
}

.company-content h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 42px;
    max-width: 750px;
    margin: 0 auto;
    color: white;
}

.company-content p {
    max-width: 750px;
    margin: 8px auto;
    color: white;
}

.company-container {
    background-image: linear-gradient(to bottom, rgba(20, 21, 23, 0.05), rgba(20, 21, 23, 1)), url("../img/factory_01_concept.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 85vh;
}

.about-company {
    margin: 120px auto;
    max-width: 700px;
    text-align: center;
}

.company-images {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.company-image-grid .row {
    margin: 16px;
}

.location {
    font-size: 16px;
    margin-top: 0;
    color: #333;
    opacity: 0.4;
}

#volta-image-1 {
    background-image: url("../img/austin-distel-wD1LRb9OeEo-unsplash.jpg");
}

#volta-image-2 {
    background-image: url("../img/austin-distel-wD1LRb9OeEo-unsplash.jpg");
}