/***
=== General ===
***/

body {
    background-color: #fff !important;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
}

.section-title {
    text-align: center;
    color: #1F2430;
}

@media only screen and (max-width: 768px) {
    .section-title {
        text-align: left;
    }
}


/* Buttons */

.btn-border {
    border: 0.5px solid #1F2430 !important;
    border-radius: 30px !important;
    font-size: 13px !Important;
    margin: 8px 8px 0 0;
    color: #1F2430;
    background: transparent;
}

a.btn-border {
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 12px 24px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: center;
    transition: all 0.45s ease 0s;
}

.btn-border:hover {
    background-color: #1F2430 !important;
    color: #fff !important;
}

.btn-blue {
    background-color: #F5C634;
    border: none !important;
    color: white;
}

.btn-blue:hover {
    background-color: #000 !important;
    color: white;
    border: none;
}


/* Navigation bar */

.navbar {
    padding: 10px 8% !important;
    background-color: transparent;
}

.navbar-logo {
    width: 42px !important;
    margin-right: 16px;
}

.nav-item {
    padding: 0px 12.5px;
    font-size: 16px;
    text-align: center !important;
    letter-spacing: .07em;
    font-family: 'Open Sans', sans-serif;
}

a.nav-link {
    padding: 4px;
    color: #333 !important;
    text-decoration: none;
    opacity: 0.7;
}

a.nav-link.active {
    opacity: 1;
    color: #F5C634 !important;
}

a.nav-link:hover {
    color: #F5C634 !important;
    opacity: 1;
}

a.navbar-brand {
    font-size: 26px;
    padding-top: 8px;
    padding-right: 8px;
    color: #333 !important;
    font-family: 'Varela Round', sans-serif;
}

.navbar-brand img {
    width: 300px;
}

.btn-navbar {
    font-size: 13px !Important;
    border-radius: 6px;
    margin: 0;
    color: #fff !important;
    background: #F5C634;
    opacity: 1 !important;
    font-family: 'Open Sans', sans-serif;
}

a.btn-navbar {
    padding: 10px 20px !important;
    opacity: 1 !important;
    color: #fff !important;
}

.btn-navbar:hover {
    background-color: #000 !important;
    color: #fff !important;
}

a.btn-navbar:hover {
    color: #fff !important;
}

@media only screen and (max-width: 995px) {
    .navbar-brand img {
        width: 225px;
    }
    .navbar {
        padding: 16px 16px !important;
    }
    a.nav-link {
        text-align: left;
    }
    a.nav-link:hover {
        border-bottom: none;
    }
    a.nav-link.active {
        border-bottom: none
    }
}

@media only screen and (max-width: 765px) {
    a.btn-navbar {
        width: auto;
        text-align: center;
        margin-top: 16px;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
}

@media only screen and (max-width: 325px) {
    .navbar-brand img {
        width: 175px;
    }
}


/* Hero Section */

.hero-content {
    margin: 0 auto;
    padding: 0vh 10% 0 10%;
    text-align: center;
    max-width: 1000px;
}

.hero-content h1 {
    font-size: 64px;
    padding-bottom: 10px;
    font-weight: 400;
    color: white !important;
    font-family: 'Varela Round', sans-serif;
}

@media only screen and (max-width: 768px) {
    .hero-content {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .hero-content {
        padding: 250px 20px 75px 20px;
    }
    .hero-content h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 325px) {
    .hero-content {
        padding: 105px 20px 75px 20px;
    }
}


/* card section */

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    margin-top: 25px;
    border-radius: 0 !important;
    border: none !important;
    text-decoration: none !Important;
    background: #fff !important;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
}

.faq-card:hover {
    box-shadow: none !important;
    transform: scale(1);
}


/* Banner / call to action */

.banner-content {
    text-align: center;
    max-width: 650px;
    margin: 100px auto 120px auto;
}


/***
=== Index / Home ===
***/


/***
=== About ===
***/

.grid-content {
    margin: 0px auto 75px auto;
    padding: 0px 10% 0px 10%;
}

#how-it-works-content {
    margin: 125px auto 0px auto;
    padding: 0px 15% 0px 15%;
}

.how-it-works-title {
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Varela Round', sans-serif !Important;
}

.row.grid-row {
    padding-left: 0 !important;
}

.grid-content h1 {
    font-size: 36px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    margin-bottom: 18px;
}

.grid-row {}

.text-column {
    padding-top: 46px;
    padding-bottom: 15px;
    padding-right: 100px !Important;
    padding-left: 0 !important;
}

.image-column {
    padding-right: 0 !important;
}

.text-column h1 {
    color: #1F2430;
    font-size: 36px;
    font-family: 'Varela Round', sans-serif;
}

.text-column p {
    margin-bottom: 16px;
}

.image-left-column {
    padding-right: 70px !Important;
    padding-left: 0px !important;
    height: 550px !important;
}

.image-left-column-how-it-works {
    padding-right: 100px !Important;
}

.how-it-works-row {
    padding-top: 50px;
    padding-bottom: 50px;
}

.how-it-works-column-text h1 {
    padding-top: 40px;
    font-size: 27px !important;
}

#home-image {
    background-image: url("../img/austin-distel-wD1LRb9OeEo-unsplash.jpg");
    border-radius: 17px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-column img {}

.text-right-column {
    text-align: left !important;
}

@media only screen and (max-width: 768px) {
    .text-column {
        padding-top: 0;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .image-column {
        padding-top: 16px;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .grid-row {
        margin-top: 0px;
        padding: 0px;
    }
    .grid-content h1 {
        font-size: 28px;
    }
    .grid-content {
        margin: 0 auto;
        padding: 15px 15px 20px 15px !important;
    }
}


/***
=== Newsroom ===
***/


/***
=== Media kit ===
***/


/***
=== FaQ ===
***/

.faq-container {
    background-color: #F5F7FA;
}

.faq-content {
    margin: 0 auto;
    padding: 100px 15px 175px 15px;
    max-width: 850px;
}

.faq-content h1 {
    font-family: 'Varela Round', sans-serif;
}

.faq-content p {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 8px;
    color: #333;
}

.accordion {
    margin-top: 10px;
}

.card-header {
    background-color: white !important;
    border-bottom: none !important;
}

.card-header a {
    line-height: 40px;
    cursor: default;
    font-size: 22px;
    font-family: 'Varela Round', sans-serif;
    color: #1F2430 !important;
    text-align: left;
    font-weight: 300;
}

.card-header a:hover {
    text-decoration: none !important;
}

.card-header .article {
    float: right;
    color: #1F2430;
    text-align: center !important;
}

.card-header button:hover {
    color: #fff !important;
}

.card-body {
    padding: 20px 50px 10px 20px;
}

@media only screen and (max-width: 768px) {
    .faq-content {
        text-align: left;
        padding: 75px 15px;
    }
}


/***
=== Careers ===
***/


/* What we do Section */

.what-we-do-container {
    background-color: white
}

.what-we-do-content {
    padding: 100px 10% 50px 10%;
    text-align: center;
}

.what-we-do-holder p {
    color: #333 !important;
}

.what-we-do-content h1 {
    font-size: 36px;
    margin: 0 auto;
    font-family: 'Varela Round', sans-serif;
}

.what-we-do-content .text {
    max-width: 700px;
    margin: 16px auto;
}

.what-we-do-row {
    margin-bottom: 90px;
    margin-top: 100px;
}

.what-we-do-row h2 {
    font-size: 22px;
    margin-top: 16px;
    font-family: 'Varela Round', sans-serif;
}

@media only screen and (max-width: 768px) {
    .what-we-do-content {
        text-align: center;
    }
    .what-we-do-content h1 {
        font-size: 32px;
    }
    .what-we-do-row {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .what-we-do-holder {
        padding-bottom: 30px;
    }
    .what-we-do-holder:last-child {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .what-we-do-content {
        padding: 75px 20px 75px 20px;
    }
}

.pros-holder {
    margin-bottom: 25px;
}

.pros-holder h2 {
    margin-top: 8px;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
}

.centered-container {
    background-color: #FFF8E2;
}

.centered-content {
    margin: 0 auto;
    padding-top: 25vh;
    max-width: 900px;
    text-align: center;
}

.centered-content h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 42px;
    max-width: 750px;
    margin: 0 auto;
}

.centered-content p {
    max-width: 750px;
    margin: 8px auto;
}

.banner-content {
    margin: 0 auto;
    padding: 100px 25px 150px 25px;
    max-width: 800px;
    text-align: center;
}

.banner-content h1 {
    font-family: 'Varela Round', sans-serif;
}

.screenshot {
    margin: 0 auto !important;
    max-width: 1100px !important;
}

header {
    position: relative !important;
    background-color: black !important;
    height: 91vh !important;
    /*
    margin-left: 10px;
    margin-right: 10px !important;
    border-radius: 10px;
*/
    padding-top: -50px;
    min-height: 25rem !important;
    overflow: hidden !important;
}

header video {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    width: auto !important;
    height: auto !important;
    z-index: 0 !important;
    -ms-transform: translateX(-50%) translateY(-50%) !important;
    -moz-transform: translateX(-50%) translateY(-50%) !important;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    transform: translateX(-50%) translateY(-50%) !important;
}

header .container {
    position: relative !important;
    z-index: 2 !important;
}

header .container h1 {
    font-size: 42px;
    max-width: 750px;
    margin: 0 auto;
}

header .overlay {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    background-color: black !important;
    opacity: 0.50 !important;
    z-index: 1 !important;
}

#vid-hero {
    padding: 30vh 0;
    color: white;
    max-width: 650px;
}


/*
@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}*/


/* Footer section */

.footer-container {
    padding: 75px 6%;
    background-color: #F5C634 !important;
}

#myFooter ul {
    list-style-type: none !important;
    padding-left: 0;
    line-height: 1.6;
}

.footer-logo {
    width: 76px !important;
    margin-right: 16px;
}

#myFooter h5 {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 10px;
    color: #fff !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif !important;
}

.logo-column {
    padding-top: 5px;
    padding-bottom: 16px;
}

#myFooter a {
    text-decoration: none !important;
    color: #fff !important;
    line-height: 1.5;
    font-size: 16px;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none !important;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    #myFooter {}
    .footer-container {
        padding: 75px 10% 32px 10%;
    }
}